In [1]:
import numpy as np
import pandas as pd
import statistics
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error

In [2]:
insurance = pd.read_csv('insurance.csv')

In [7]:
def smokerToBinary(cond):
    if cond == "yes":
        return 1
    elif cond == "no":
        return 0

insurance["smoker"] = insurance["smoker"].apply(smokerToBinary)

In [8]:
def sexToBinary(sex):
    if sex == "male":
        return 1
    elif sex == "female":
        return 0

insurance["sex"] = insurance["sex"].apply(sexToBinary)

In [9]:
insurance.head(1)

,age,sex,bmi,children,smoker,region,charges,binary_smoker,binary_sex
0,19,0,27.9,0,1,southwest,16884.924,1,0

In [10]:
insurance.drop("binary_smoker", axis=1, inplace=True)
insurance.drop("binary_sex", axis=1, inplace=True)

In [12]:
insurance.head(1)

   age  sex   bmi  children  smoker     region    charges
0   19    0  27.9         0       1  southwest  16884.924

In [14]:
def change_region(val):
    if val == 'southwest':
        return 0
    elif val == 'southeast':
        return 1
    elif val == 'northwest':
        return 2
    elif val == 'northeast':
        return 3

insurance['region'] = insurance['region'].apply(change_region)

In [15]:
insurance.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       0  16884.92400
1   18    1  33.770         1       0       1   1725.55230
2   28    1  33.000         3       0       1   4449.46200
3   33    1  22.705         0       0       2  21984.47061
4   32    1  28.880         0       0       2   3866.85520

In [16]:
target = insurance["charges"]

In [17]:
input_columns = insurance.loc[:, insurance.columns != "charges"]

In [18]:
x_train, x_test, y_train, y_test = train_test_split(input_columns, target, test_size=0.2)

In [19]:
mlpr = MLPRegressor(activation='relu', alpha=0.0008, solver='lbfgs', max_iter=8000, max_fun=30000, random_state=3)

In [20]:
mlpr.fit(x_train, y_train)

MLPRegressor(alpha=0.0008, max_fun=30000, max_iter=8000, random_state=3,
             solver='lbfgs')

In [21]:
y_hat = mlpr.predict(x_test)

In [22]:
mlpr.score(x_test, y_test)

0.8764023191876411

In [23]:
MAE = np.mean(abs(y_test - y_hat))
MAE

2902.761355994566

In [24]:
mean_squared_error(y_test, y_hat)

20427604.48741529

In [19]:
type(x_test)

pandas.core.frame.DataFrame

In [20]:
x_test

,age,bmi,children,binary_smoker,binary_sex,northeast,northwest,southeast,southwest
251,63,32.200,2,1,0,0,0,0,1
477,25,35.625,0,0,1,0,1,0,0
1050,44,36.955,1,0,0,0,1,0,0
582,39,45.430,2,0,1,0,0,1,0
391,19,37.430,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
510,56,32.110,1,0,1,1,0,0,0
819,33,35.530,0,1,0,0,1,0,0
601,51,31.635,0,0,1,0,1,0,0
1144,50,32.300,2,0,1,0,0,0,1
982,31,25.900,3,1,1,0,0,0,1

In [21]:
y_hat

array([39254.61250269,  6007.33221805, 11903.51912566, 13209.36971546,
        5131.13740594, 23837.08610721, 29797.88562197,  5633.4313995 ,
       14137.24007966,  8515.12120721,  9133.65982567,  7681.92566073,
       16972.59646873,  8231.08276618, 16750.24776151,  7398.28641202,
       13793.9277007 ,  2922.26970976,  3278.7317642 ,  3059.10602887,
        9695.32765671,  4385.57411538, 18116.49853646, 28715.68072407,
       27716.49984804, 12942.64626257, 39204.73769485,  4196.87052036,
       37335.28614261, 13331.05139787, 27541.87480755, 11690.53359399,
        1853.70970976, 11539.90659769, 12709.75801006,  9365.98362623,
        8663.84309389,  4546.09019959, 11374.36732941,  1823.8287788 ,
       30454.47514046, 35579.04398789,  2322.40562755, 13286.261121  ,
       12995.7937012 , 13256.26857031,  3089.11307822, 14390.42112415,
       31000.8418126 , 14187.95077633,  7325.6839391 ,  2088.54563484,
       10974.9321449 ,  2720.55132709, 25393.42100404, 31101.79987169,
       28251.04939447, 11137.78752969,  3633.03557237,  5701.15969844,
        1760.38362386, 11317.39620809, 40688.3361934 , 35049.73910627,
        -757.20137747,  3756.72670365, 12443.75896511, 14133.89239969,
        6376.904612  , 11019.37367613,  3822.9375361 , 16015.90362598,
       12912.75659465,  3069.58671085, 14747.25897702, 15972.49584117,
        4999.66649346,  1404.2306562 , 11284.1433784 , 11875.213043  ,
        6041.95690103, 32679.17517795, 26193.88992487,  7121.72214651,
        3555.08740164,  9405.06453288, 13794.09247392, 10866.95805779,
       10012.47557635,  7818.85188303,  4368.82999559, 29649.55867448,
       35048.34448818,  8550.45089659, 17405.37158949, 12042.73315883,
       33267.46229024, 32111.75501665, 11248.35872713,  7663.39580245,
       10870.83135572,  7076.68694981, 34064.5765815 , 32347.13477413,
        4493.60667125, 12312.11794998, 34850.65349537, 31943.80213693,
        7046.25279557,  5082.50341723,  5125.27724609, 28381.12793922,
       37232.53676501, 36818.68856247, 11742.58481872,  5012.76238637,
       30991.43654745, 36180.44178614, 37541.77445458, 30505.69727425,
       10021.07928975, 36716.73762236,  8352.07730267, 10061.96349079,
       12363.02380856, 10016.5533102 ,  5614.91592684,   262.76576478,
        1441.54884184, 27768.76782562,  6327.42729844, 30691.71385574,
       32343.0136459 ,  5402.89548016,  5652.79732446, 16721.79494124,
       10750.46134946,  5521.98547924,  9238.50608957, 11688.68411398,
       12706.67706662,  4022.067561  , 11569.956555  ,  7206.75423975,
       17668.51698376, 11551.08097841,  2862.04560549, 26917.87713452,
        7330.73844709,  8308.1206267 , 34927.52686399, 11621.88864742,
       27777.46064835,  5731.04812638, 10273.24851626, 31180.34520616,
         815.27296534,  9750.34693813, 11371.85539561, 12748.41317646,
        1102.99984969, 10880.9171622 , 36605.14123553, 15853.20223489,
       10462.70065201, 36991.32137371, 16274.36300572,  8319.58054859,
       40183.6473827 , 30489.79269076, 29313.28654233, 24920.34485985,
       12914.35062778, 28401.48623396, 11088.64208697, 23785.40561324,
       33875.95786881,  9417.89994517,  8116.69136332, 33888.93864373,
       31239.52880785,  9252.37397425, 36652.75111114, 11717.78601665,
        5480.16451321,  5128.06047409,  2168.8161183 ,  8593.51258971,
       10190.37531632,  3053.95217637, 10225.25144473, 10278.07643825,
        9103.67335799,  5236.53015621, 12229.54122549, 33875.8353148 ,
        9511.69328376, 10142.92049381, 15758.46670301,  3821.28177729,
        8757.98456593, 10456.26514381,  3833.23464021, 11136.16733215,
       12237.95641914, 14454.65520916, 14969.60768424, 33449.8803714 ,
        2265.1861647 , 11413.35646128, 11758.60955415,  9822.21422436,
       12616.3417137 ,  7302.89313976, 37138.49038434, 11755.26923122,
       13814.89430094,    69.71306001, 10839.10921221, 13589.35186574,
        8174.73487031,  9726.64079594, 33905.70906657,  5629.34895223,
        3836.6812676 , 11640.03952439,  9425.68059758,  5589.61807461,
        8683.26330851, 10595.30434895,  8369.91294888, 12474.1791929 ,
        9828.95563263, 26368.01502266, 34067.6487751 ,  3984.30106869,
        3925.5763136 , 28719.62600212, 34944.32770165, 13365.85812577,
        7074.7088597 ,  8167.8560115 ,  2809.08461793,  7535.89060972,
       15113.06187446, 35015.64944216,  6183.55129168,  2826.30018257,
        9433.00459819, 14575.64132648, 15649.69416805, 10131.78378477,
        3824.79540564, 12623.15055728,  -499.6288948 ,  9382.27605663,
        4340.83596985,  7995.53085232, 11749.5582838 ,  4908.19015233,
        4379.53293146, 35677.27875457,  4770.92818754, 13579.79264862,
       31948.15289409, 11347.46730621, 12037.42011313, 29484.97151163])

In [30]:
user_data = {"age": 25, "bmi": 28.302, "children": 3, "binary_smoker": 0, "binary_sex": 1, "northeast": 0, "northwest": 0, "southeast": 0, "southwest": 1}
user_df = pd.DataFrame(data=user_data, index = [0])

In [32]:
user_df

,age,bmi,children,binary_smoker,binary_sex,northeast,northwest,southeast,southwest
0,25,28.302,3,0,1,0,0,0,1

In [33]:
user_predicted = mlpr.predict(user_df)

In [35]:
user_predicted

array([4877.01980886])